---
import { Image } from "astro:assets";
import { projects } from "../data/projects.js";
---

<section class="p-8 text-center bg-[#1b232b]">
    <h2 class="mb-8 text-[#0096c7] font-bold">My Projects</h2>
    <div class="grid grid-cols-[repeat(2,1fr)] gap-8 max-w-screen-xl mx-auto my-0 px-4 py-0">

        {projects.map((project) => (
            <div class="bg-[#1e3a49] shadow-[0_2px_4px_rgba(173,216,230,0.1)] flex flex-col w-full p-4 rounded-lg">
                <h3 class="text-[1.17em] font-bold text-[#0096c7] mx-0 my-2">{project.title} {(project.status)?<small class="text-[#a8c2cc] font-bold">({project.status})</small> : ""}</h3>
                <div class="w-full h-[250px] overflow-hidden flex mx-0 my-4">
                    <Image class="w-full h-full object-contain object-center block border-[color:var(--color-secondary)] rounded-lg border-2 border-solid" src={project.image} alt={project.alt} />
                </div>
                <p class="grow text-[#a8c2cc] mb-4">{project.description}</p>
                <div class="flex flex-wrap justify-center gap-2">
                    {project.technologies.map((tech) => (
                        <div class="flex items-center gap-2 bg-[#2a3b47] p-2 rounded-lg">
                            <img class="w-6 h-6" src={tech.icon} alt={tech.name} title={tech.name} />
                            <span class="text-[#a8c2cc] text-sm">{tech.name}</span>
                        </div>
                    ))}
                </div>
                {project.repository && (<a class="text-[#0096c7] font-bold" href={project.repository} target="_blank">See repository</a>)}
            </div>
        ))}
    </div>
</section>